
<!--
  <h1>Angular</h1>
  <courses></courses>-->
<!-- <app-favorite [is-favorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></app-favorite>   -->       <!-- is-favorite es input, change es output -->

<!--<app-directive></app-directive>
<contact-form></contact-form>
<signup-form></signup-form>

<new-course-form-component></new-course-form-component>
<app-posts-service></app-posts-service>
<posts-optimistic></posts-optimistic>-->

<navbar></navbar>
<router-outlet></router-outlet> <!-- -->  <!-- Angular muestra el componente asociada con la ruta actual en esta directiva especial router-outlet -->
                                  <!-- tecnicamente el componente se mostrará despues del router-outlet, no dentro. -->
